p {
    font-family: Lato;
  }
  
  .notes {
    border: 2px solid skyblue;
    padding: 0.5em;
    border-left-width: 6px;
    border-radius: 4px 0 0 4px;
    font-size: 1.5rem;
  }
  
  .solution {
    background-color: lightcoral;
  }